# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
VieropeenRij.wpf/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
VieropeenRij.wpf/obj/Debug/VieropeenRij.wpf_MarkupCompile.i.lref
.vs/VieropeenRij/v14/.suo
VieropeenRij.wpf/bin/Debug/VieropeenRij.wpf.vshost.exe
VieropeenRij.wpf/bin/Debug/VieropeenRij.wpf.vshost.exe
*.exe
